<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>732195373.92679</string>
					<key>XcodeLocation</key>
					<string>{"MemberID":"DTI-YL-gJ5"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>CatchSpidey/Base.lproj/Main.storyboard</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBDocumentMemberLocation</string>
			</dict>
			<key>title</key>
			<string>View Controller</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
